@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.body {
    background: #0D1117;
}

.home {
    background: #010409;
}

.header {
    background: #161B22;
}

.search {
    border: 1px solid #30363d;
}

.textHover {
    color: #8B949E;
}

.textStarred {
    color: #E3B341;
}

.button {
    background: #238636;
}

.borderApp {
    border-color: #30363d;
}

.starBtn {
    background: #21262D;
}

.link {
    color: #58A6FF;
}